# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Streamlit
.streamlit/

# Build files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

#helloworld@3mch4e